/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizar usando o seletor de uma TAG */

body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33%;
    background-color: darkgray;
}

.banner-header {
    background-color: cyan;
    width: 1120px;
    justify-content: space-between;
    height: 66%;
}

.content-hero {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1120px;
    height: 550px;
    margin: 0 auto;
}

.box {
    border: 2px solid;
    width: 365px;
    height: 482px;
    margin: 25px;
    border-radius: 25px;
}

.content-hero-header{
    background-color: darkblue;
    border-radius: 25px 25px 0 0;
    padding: 5px;
    color: white;
}