*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.conteudo-principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.conteudo-principal sup{
    font-size: 10px;
    color: blue;
}

.conteudo-principal__esquerdo img{
    height: 450px;
}

.conteudo-principal__direito {
    width: 650px;
    height: 450px;
}

.conteudo-principal__direito--titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.conteudo-principal__direito--subtitulo{
    color: blue;
    margin-top: 5px;
}

.conteudo-principal__direito--descricao{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.conteudo-principal__direito--descricao h2{
    margin-bottom: 15px;
}

.conteudo-principal__direito--sem-fio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}